body {
  background-image: url("../background_images/wil-stewart-18242.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "helvetica neue"; }
  body a.copyright_image {
    color: lightgrey;
    text-decoration: none; }
  body #main {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    opacity: 1;
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
    body #main .current_time {
      color: white;
      font-weight: 700;
      font-size: 12em;
      text-align: center; }
    body #main .main_welcome {
      color: white;
      font-weight: 400;
      font-size: 5.5em;
      text-align: center; }
      body #main .main_welcome .content {
        float: left; }
      body #main .main_welcome input#first_name {
        border: 0;
        background: transparent;
        border-bottom: 1.5px solid white;
        width: 40%;
        font-size: 60px;
        color: white;
        font-weight: 400;
        text-transform: capitalize; }
      body #main .main_welcome span#name {
        text-transform: capitalize; }
      body #main .main_welcome *:focus {
        outline: none !important; }
  body #quote p {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-align: center; }

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
