body {
  font-family: "helvetica neue";
  margin: 0; }
  body #bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%; }
  body #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    background-size: cover; }
  body a.copyright_image {
    padding: 10px;
    position: fixed;
    color: lightgrey;
    text-decoration: none; }
  body #main {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    opacity: 1;
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
    body #main .current_time {
      color: white;
      font-weight: 700;
      font-size: 12em;
      text-align: center; }
    body #main .main_welcome {
      color: white;
      font-weight: 400;
      font-size: 5.5em;
      text-align: center; }
      body #main .main_welcome .cookie_content #name {
        color: yellow; }
      body #main .main_welcome .cookie_content .focus_today {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin: 5% auto auto auto; }
        body #main .main_welcome .cookie_content .focus_today p {
          font-size: 0.4em; }
          body #main .main_welcome .cookie_content .focus_today p input {
            font-size: 1em;
            width: 30%; }
      body #main .main_welcome .cookie_content .your_focus {
        font-size: 0.4em;
        text-transform: capitalize; }
      body #main .main_welcome .cookie_content .your_focus span {
        color: lightyellow;
        font-size: 1em; }
      body #main .main_welcome .cookie_content .your_focus span:hover {
        text-decoration: line-through; }
      body #main .main_welcome .content {
        float: left; }
    body #main input {
      border: 0;
      background: transparent;
      border-bottom: 1.5px solid white;
      width: 40%;
      font-size: 60px;
      color: white;
      font-weight: 400;
      text-transform: capitalize; }
    body #main span {
      text-transform: capitalize; }
    body #main *:focus {
      outline: none !important; }

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
